<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itqf.dao.DriverDao">

    <insert id="insertDriver" parameterType="Driverinfo" >
        insert into driverinfo
            (id,address, allow_carry_volume
            , allow_carry_weight,birthday,biz_licence, car_dept
            ,car_dept_tel,car_frame_no, car_length
            , car_no,car_type,car_width,company_car
            ,drive_licence,driver_name,engine_no,gender
            ,goods_height,id_card,insurance_card,phone, remark,run_licence, state)
        value (#{id} , #{address},#{allowCarryVolume},#{allowCarryWeight},#{birthday},#{bizLicence},#{carDept},#{carDeptTel},#{carFrameNo},#{carLength}
        ,#{carNo},#{carType},#{carWidth},#{companyCar},#{driveLicence},#{driverName},#{engineNo},#{gender}
        ,#{goodsHeight},#{idCard},#{insuranceCard},#{phone},#{remark},#{runLicence},#{state})
    </insert>

    <select id="findAll" resultType="Driverinfo" >
        select * from driverinfo
    </select>

    <select id="findDriverByCode" resultType="Driverinfo" parameterType="string" >
        select * from driverinfo where id = #{id}
    </select>

    <delete id="deleteDriver" parameterType="string">
        delete from driverinfo where  id = #{id}
    </delete>

    <update id="updateDriver" parameterType="Driverinfo" >
        update driverinfo set
            address=#{address}
            , allow_carry_volume=#{allowCarryVolume}
            , allow_carry_weight=#{allowCarryWeight}
            ,birthday=#{birthday}
            ,biz_licence=#{bizLicence}
            , car_dept=#{carDept}
            ,car_dept_tel=#{carDeptTel}
            ,car_frame_no=#{carFrameNo}
            , car_length=#{carLength}
            , car_no=#{carNo}
            ,car_type=#{carType}
            ,car_width=#{carWidth}
            ,company_car=#{companyCar}
            ,drive_licence=#{driveLicence}
            ,driver_name=#{driverName}
            ,engine_no=#{engineNo}
            ,gender=#{gender}
            ,goods_height=#{goodsHeight}
            ,id_card=#{idCard}
            ,insurance_card=#{insuranceCard}
            ,phone=#{phone}
            , remark=#{remark}
            ,run_licence=#{runLicence}
            , state=#{state}
        where  id = #{id}
    </update>


</mapper>



